Style guide handling

Right now the text in Section 6.1 states:

>   This document creates the Editorial Stream.
>
>   Any and all future documents produced by the RSWG and approved by the
   RSAB shall be published in the Editorial Stream.

With regard to the style guide, that is currently partly RFCs and partly managed separately.   The text in the draft doesn't quite cover that.  The RFCs in question are RFC 7322, RFC7997, and  RFC 7841 (boiler plate).  They are currently in the IAB stream.  We need to explicitly decide to redirect some or all of these to the Editorial Stream.  With regard to the things that are **not** RFCs (abbreviations list, terms, and a few other things), the model we have seems to indicate that these documents would go to the RPC unless and until the RSWG and RSAB say otherwise in a new policy RFC. 

Is my understanding correct or is there some proposal that someone else wants to make to address this?