Do we need to update RFC 2028?

From John:

Summary: RFC 2028, "The Organizations Involved in the IETF
  Standards Process" actually describes organizations.  The
  three updates are about IPR issues, not organizations or
  structures (see below).  The RFC Editor is discussed in
  Section 2.1 but all that section really does is to point to
  the definition of the Series in RFC 2026 (see below) and to
  a definition of functions and selection procedures in a
  document cited as "The RFC Editor Charter [G]". Reference
  [G] reads "Work in Progress".

  Action required: A review of 2028 indicates that it is badly
  outdated and in need of work. It cites documents as "in
  progress" for which no progress has been made in close to a
  quarter-century. In some cases, documents that change its
  contents have been published but without any identification
  of their updating 2028. For example, RFC 4844 (and hence the
  later 8729) rather clearly updated the substance of 2028
  even though they are not the "RFC Editor Charter" to which
  2028 refers. A quick scan of the IPR documents as
  specifically related to 2028 does not seem to indicate
  anything this group would need to adjust or change but see
  the separate discussion of RFC 8717 (BCP 101) below. Another
  example, while not our problem, is that 2028 still claims
  that the IAB appoints the IETF Chair, text that has never
  been updated.

  At minimum for us, RFC 2028 should be updated by pointing to
  new structure or charter documents or by pointing to a
  successor for RFC 8729. Preferably, we should convince the
  IESG that an overhaul of 2028 is needed and then just
  incorporate new/ better RFC Editor function references into
  it. For that "overhaul the whole thing" option, I sent a
  summary to the gendispatch mailing list over the weekend,

https://mailarchive.ietf.org/arch/msg/gendispatch/NZ6QfxWlFvkh7jkHvBwNxKd7TR8/

Based on John's comments and a review of RFC 2028, I suggest that the RFC Editor Model Version 3 does not need to specify that it updates RFC 2028 (whether RFC 2028 itself needs to be updated is outside the scope of the RFC Editor Future Development Program). Therefore I suggest that we close this issue.