What are the updates to other RFCs?

The Intro says the following:

```
   The four streams that now exist are described in [RFC8729].  This
   document adds a fifth stream, the Editorial Stream.

   This document obsoletes [RFC8728].  This document updates [RFC7841],
   [RFC8729], and [RFC8730].
```

Adrian already raised a point on the list that the document could be more clear about what is updated for RFC8730.

For RFC7841 it is actually not clear to me at all what is updated. RFC7841 is referenced a couple of time but it says nowhere that it would change anything in RFC7841.

For RFC8729 we say that we add a new stream but is that the only change?





Agreed that this could be clearer. I will work on this / propose text.

Summarize here and see the appendix for details.

Fixed by https://github.com/intarchboard/program-rfced-future/commit/f8eb0d4f5dbaa32c56628c7cae80a8dab5cdfaaa