External Representation

Pete wrote:
> Section 2.1.2.2 of RFC 8728 reads as follows:

>>   From time to time, individuals or organizations external to the IETF
   need a contact person to talk to about the RFC Series.  The RSE, or
   the RSE's designate, serves this role.

>>   Over time, the RSE should determine what, if any, means should be
   employed to increase end-user awareness of the series, to reinforce
   the stature of the series, and to provide the contact point for
   outside parties seeking information on the series or the Editor.

> As far as I can see, we do not yet say anything about external
representation of the RFC Series in our document. Would individuals or
organizations external to the IETF (and the broader RFC Series
community) reach out to the RSAB?

The incoming point of contact is rfc-editor@rfc-editor.org.

