Do we need to update RFCs 8729/4844?

From John:

The RFC Series and RFC Editor (RFC 8729 and the earlier 4844)

   Summary: Like RFC 2850, mentions a liaison from the RFC
   Editor to the IAB, which we might want to review in the
   context of whatever we figure out (see above). Section 2.d
   discusses the RFC Editor function but in general enough
   terms to probably be ok.

   Action required: Probably none unless we conclude that the
   new structure eliminates the need or desire for a liaison
   from the RFC Editor to the IAB or that we need to move new
	liaison or ex-officio member role into this (see above).

I agree with John's recommendation that no Updates line is required in relation to RFC 8729; also, note that neither RFC 5620 (RFC Editor Model Version 1) nor RFC 6635 (RFC Editor Model Version 2) updated RFC 4844.

Brian Carpenter pointed out that we have three choices:

1) Incorporate them here by reference. In other words, we do Updates: 8729 and have a section that details which sections are kept and which sections are obsoleted.
2) Incorporate them here by value, and do Obsoletes: 8729.
3) Do RFC8729bis.
These are equivalent operations but we need to pick one. 

And Brian Rosen asks whether this has to be done now.

Peter will implement JCK's appendix org suggestion.

Done in my working copy. Let's see how reviewers like it, since the section name is "Changes from Version 2 of the RFC Editor Model", not "Updates to RFC 8729".