Do we need to update ISE model (RFC 8730, etc)

Independent Submission Editor Model (RFC 8730 and the earlier
RFC 5620 and 6548)

  Summary: Mentions interactions with the RSE and appointment
  by the IAB.  If we create a new oversight mechanism,
  decouple the RSE/A function, and/or RSE/A appointment from
  the IAB, we may want to review whether having the IAB
  appoint the ISE is still appropriate.  The text does
  mention the RSOC in section 2, so, if we are eliminating
  that body (and possibly replacing it with something else),
  that sentence would need adjustment.

  Action: Probably remove comment about the RSE in Section 2.
  Depending on what else we decide, possibly adjust text about
  appointment by the IAB and/or being responsible to the IAB.


Here is what RFC 8730 says:

> 2.  Independent Submission Editor

>   The ISE is an individual who is responsible for the Independent
   Submission stream of RFCs, as defined by [RFC8729].  The Independent
   Submission stream and the ISE are not under the authority or
   direction of the RSE or the RFC Series Oversight Committee (RSOC)
   (see [RFC8728]).  As noted below, the ISE is appointed by and is
   responsible directly to the IAB.

Also, the term "RSE" is sprinkled liberally throughout.

Once we determine the role name, we can decide what to do about that.



Proposed to "Updates 8730" only to indicate term change. 

@stpeter please confirm text in draft.  (I think we're there).