Do we need to update BCP 78?

From John: 

Rights Contributors Provide to the IETF Trust (RFC5378/BCP78)
And Rights in documentation more generally
  (RFC 5744 - Independent Stream; RFC 5745 - IAB Stream; RFC
  8721 (and predecessor 5377)- Advice to Trustees)

  Summary: RFC 5738, Section 1, points to RFC 2028 for a
  definition of "RFC Editor". See rant above. Section 3.6 (and
  the somewhat redundant Section 5.9) implies that the IETF
  Trust need not (and perhaps does not or should not) own the
  copyrights to Informational RFCs and "RFCs submitted as RFC
  Editor Contributions" (not our problem, but, I believe,
  inconsistent with contemporary practice) and suggests (in
  terminology of today's structure) that the authority of the
  Trust is limited to documents "in the RFC format used by the
  IETF". Probably not our problem either, but, in the current
  "only the XML is the canonical/ archival form" model, it is
  not clear what "the format used by the IETF" means. RFC
  8721 sheds no light on this other than noting the
  long-standing tradition of allowing translations and
  suggesting it continue. Terms such as "published by the RFC
  Editor" appear in other places, such as Section 4 of RFC
  5378, and points to the "RFC Editor web page" for more
  information, where there is no sign of any such information
  (see "Job Description" below).

  Action required: Probably none unless we need the new entity
  to endorse the BCP 78 policies either as an entity
  independent of other IETF-related bodies or as part of an
  RFC Editor Stream should we decide to create one, probably
  following the IAB model outlined in Section 11. Note,
  however, that the other streams have been much more careful
  to apply BCP 79 than they have been about BCP 78 (e.g., as
  I read the IRTF summary cited above, it is entirely about
  BCP 79 and disclosures -- BCP 78 is not cited or
  mentioned), a problem that is further complicated by the
  slightly convoluted language in RFC 5378 about non-IETF
  documents. In addition, if one were to endorse/ require
  conformance along the lines of BCP 78, it is not clear that
  its definition of "Contribution" would work for the sort of
  discussions I think we are assuming would occur in the
  working group or oversight body.

John makes an interesting point about the definition of Contribution, and we'll want to think about that in relation to the RSWG, especially if we define a separate "editorial stream" as suggested in https://github.com/intarchboard/program-rfced-future/issues/22 - but, that said, I provisionally suggest that we don't want to need for the RFC Editor Model Version 3 to formally update BCP 78.

@elear 