Requests of the IETF Trust

This document should request assistance from the IETF Trust in meeting its goals and procedures, very similar to what was requested in Section 5 and Section 6 of RFC 5744.